<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AdminMapper">

    <select id="login" resultType="Admin">
        select * from admin where name= #{name} and password = #{password}
    </select>

    <update id="changepass" parameterType="Admin">
        update admin set password=#{password} where name = #{name}
    </update>


</mapper>