<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CommodityMapper">
    <select id="queryCommodityList" resultType="Commodity">
        select * from commodity
    </select>

    <insert id="add" parameterType="Commodity">
        insert into commodity(name,specifications,price,stock,imgurl,introduce,memo) values (#{name},#{specifications},#{price},#{stock},#{imgurl},#{introduce},#{memo});
    </insert>

    <delete id="delete" parameterType="int">
        delete from commodity where id = #{id} ;
    </delete>

    <update id="update" parameterType="Commodity">
        update commodity set name=#{name} ,price=#{price} ,stock=#{stock}
        where id = #{id}
    </update>

    <select id="findById" parameterType="Integer" resultType="Commodity">
        select * from commodity where id = #{id}
    </select>
</mapper>