<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ShopCartDetailMapper">

    <insert id="save" parameterType="ShopCartDetail">
        insert into shopcartdetail(user_id,commodity_id,buy_number) values (#{user_id},#{commodity_id},#{buy_number});
    </insert>

</mapper>